<div class="mv">
    <h5>Mision</h5>
    <p>La mision de la compañia es mejorar la calidad de servicio, contribuir al desarrollo del financiero, proveer productos y servicios automotrices unicos 
        e inovadores que ofrecen valores medibles y superiores a todos nuestros acreedores para ganar confianza y crear demanda para nuestras marcas en el mundo digital</p>
    <h5>Vision</h5>
    <p>La vision de la compañia es convertirse en la distribuidora de automoviles de mejor calidad del mercado, convertirnos en la referencia para la promocion 
        y mejora de servicio para generar inspiracion, transformar la industria y expandir nuestro liderazgo global para servir mejor a mas consumidores, mejorar 
        y enrriqueser la vida de las personas siendo la mejor compañia en la industria y asi ser la opcion preferida de nuestros clientes superando sus expectativas 
        de calidad y servicio junto con la de nuestros empleados brindando un lugar de trabajo que inspira a dar lo mejor de cada uno</p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d9692551.666149028!2d-73.41184832153213!3d4.080754991174262!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1639369361129!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="mv"></iframe>