<form action="" id="form">
    <div class="form">
        <h1>Iniciar Sesion</h1>
        <div class="grupo">
            <input type="email" name="" id="name" required><span class="barra"></span>
            <label for="">Usuario</label>
        </div>
        <div class="grupo">
            <input type="password" name="" id="name" required><span class="barra"></span>
            <label for="">Contraseña</label>
        </div>
        <form [formGroup]="fgValidador" class="recaptcha">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
            </ngx-recaptcha2>
        </form>
        <button type="submit">
            <a routerLink="/cliente">Ingresar</a>
        </button>
    </div>
</form>