<!--<div class="slideshow-container" (click)="funcion()">
    <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="IMAGENES/TOYOTA/2.jpg" style="width:100%" class="s1">
        <div class="text">Toyota/div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="IMAGENES/SUZUKI/4.jpg" style="width:100%" class="s1">
        <div class="text">Suzuki</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="IMAGENES/PORSCHE/4.jpg" style="width:100%" class="s1">
        <div class="text">Porsche</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="IMAGENES/MERCEDES-BENZ/2.jpg" style="width:100%" class="s1">
        <div class="text">Mercedes Benz</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="IMAGENES/MAZDA/2.jpg" style="width:100%" class="s1">
        <div class="text">Mazda</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="IMAGENES/JAGUAR/4.jpg" style="width:100%" class="s1">
        <div class="text">Jaguar</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="IMAGENES/HUMMER/7.jpg" style="width:100%" class="s1">
        <div class="text">Hummer</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="IMAGENES/HONDA/4.jpg" style="width:100%" class="s1">
        <div class="text">Honda</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="IMAGENES/BMW/8.jpg" style="width:100%" class="s1">
        <div class="text">BMW</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="IMAGENES/AUDI/3.jpg" style="width:100%" class="s1">
        <div class="text">Audi</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
</div>
<h3>Modelos en venta</h3>
<img src="IMAGENES/TOYOTA/2.jpg" style="width:100%" class="s1">
<img src="IMAGENES/SUZUKI/4.jpg" style="width:100%" class="s1">
<img src="IMAGENES/PORSCHE/4.jpg" style="width:100%" class="s1">
<img src="IMAGENES/MERCEDES-BENZ/2.jpg" style="width:100%" class="s1">
<img src="IMAGENES/MAZDA/2.jpg" style="width:100%" class="s1">
<img src="IMAGENES/JAGUAR/4.jpg" style="width:100%" class="s1">
<img src="IMAGENES/HUMMER/7.jpg" style="width:100%" class="s1">
<img src="IMAGENES/HONDA/4.jpg" style="width:100%" class="s1">
<img src="IMAGENES/BMW/8.jpg" style="width:100%" class="s1">
<img src="IMAGENES/AUDI/3.jpg" style="width:100%" class="s1">
<<div class="slideshow-container" (click)="funcion()">
    <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="IMAGENES/TOYOTA/2.jpg" style="width:100%" class="s2">
        <div class="text">Toyota</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="IMAGENES/SUZUKI/4.jpg" style="width:100%" class="s2">
        <div class="text">Suzuki</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="IMAGENES/PORSCHE/4.jpg" style="width:100%" class="s2">
        <div class="text">Porsche</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="IMAGENES/MERCEDES-BENZ/2.jpg" style="width:100%" class="s2">
        <div class="text">Mercedes Benz</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="IMAGENES/MAZDA/2.jpg" style="width:100%" class="s2">
        <div class="text">Mazda</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="IMAGENES/JAGUAR/4.jpg" style="width:100%" class="s2">
        <div class="text">Jaguar</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="IMAGENES/HUMMER/7.jpg" style="width:100%" class="s2">
        <div class="text">Hummer</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="IMAGENES/HONDA/4.jpg" style="width:100%" class="s2">
        <div class="text">Honda</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="IMAGENES/BMW/8.jpg" style="width:100%" class="s2">
        <div class="text">BMW</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="IMAGENES/AUDI/3.jpg" style="width:100%" class="s2">
        <div class="text">Audi</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>-->
<h3>Acerca de Nosotros</h3>
<div class="mv">
    <h5>Mision</h5>
    <p>La mision de la compañia es mejorar la calidad de servicio, contribuir al desarrollo del financiero, proveer productos y servicios automotrices unicos 
        e inovadores que ofrecen valores medibles y superiores a todos nuestros acreedores para ganar confianza y crear demanda para nuestras marcas en el mundo digital</p>
    <h5>Vision</h5>
    <p>La vision de la compañia es convertirse en la distribuidora de automoviles de mejor calidad del mercado, convertirnos en la referencia para la promocion 
        y mejora de servicio para generar inspiracion, transformar la industria y expandir nuestro liderazgo global para servir mejor a mas consumidores, mejorar 
        y enrriqueser la vida de las personas siendo la mejor compañia en la industria y asi ser la opcion preferida de nuestros clientes superando sus expectativas 
        de calidad y servicio junto con la de nuestros empleados brindando un lugar de trabajo que inspira a dar lo mejor de cada uno</p>
</div>
<form action="" id="form">
    <div class="form">
        <h3>Contacto</h3>
        <div class="grupo">
            <input type="text" name="" id="name" required><span class="barra"></span>
            <label for="">Nombre</label>
        </div>
        <div class="grupo">
            <input type="email" name="" id="name" required><span class="barra"></span>
            <label for="">Correo</label>
        </div>
        <div class="grupo">
            <input type="text" name="" id="name" required><span class="barra"></span>
            <label for="">Telefono</label>
        </div>
        <div class="grupo">
            <input type="text" name="" id="name" required><span class="barra"></span>
            <label for="">Mensaje</label>
        </div>
        <button type="submit">
            <a routerLink="/cliente">Ingresar</a>
        </button>
    </div>
</form>